
button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    margin: auto;
    margin: 20px 0;
    text-align: center;
}